* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 767px;
    color: white;


}

.subheader {
    text-align: right;
    padding-left: 890px;
    padding-top: 175px;
    height: 450px;
    width: 473px;


}

.header-title {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 18px;
}

.header-peragraph {
    font-size: 18px;
    margin-bottom: 20px;

}

.btn-primary {
    width: 160px;
    height: 56px;
    padding: 14px 12px;
    background: white;
    color: rgb(99, 85, 199);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

/* 1st section */

.failure {
    position: absolute;
    width: 485px;
    height: 317px;
    left: 50px;
    padding-top: 56px;
}

.failure-main {
    display: flex;
    position: absolute;
    text-align: left;
    width: 1181px;
    height: 987px;
}

.image1 {
    margin: 130px 0px;
    padding-left: 195px;
}

.failure-title {
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 20px;
}

.discription {
    margin-left: 89px;
    padding-top: 330px;
}

/* plans section */

.plans {
    display: flex;
    position: absolute;
    margin: 1055px 118px;
}

.plan-title {
    font-size: 27px;
    margin: 15px 0px;
}

.plan-heading {
    position: absolute;
    margin: 978px 674px;
    font-size: 41px;
    font-weight: 800;

}

.plan-discription {
    font-size: 23px;
    font-weight: 400;
}

.plan-box {
    height: 250px;
    position: relative;
    width: 250px;
    margin: 36px;
    text-align: center;
}

/* 3rd section */

.image2 {
    position: absolute;
    background-image: url(../images/gradient1.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1044px;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 13px;
}

.section3 {
    margin: 1740px 244px;
    position: absolute;
}

.image-heading {
    padding-top: 37px;
    padding-left: 50px;
    font-size: 40px;
    color: white;
    width: 424px;

}

.btn-2nd {
    width: 160px;
    height: 56px;
    padding: 16px 12px;
    gap: 8px;
    background: white;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
}

/* footer */
.footer {
    margin: 2150px 0px;
    position: absolute;
    background-color: #181515;
    color: white;
    display: flex;
    width: 1520px;
    height: 577px;
}

.footer-title {
    font-size: 45px;
    margin-bottom: 23px;
}

.input-title {
    font-size: 26px;
    padding-bottom: 22px;
    font-weight: 600;
}

.btn-3nd {
    width: 160px;
    height: 54px;
    padding: 16px 12px;
    background: #4747af;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.subscribe {
    position: absolute;
    width: 325px;
    height: 204px;
    left: 1046px;
    padding-top: 130px;
}

.future {
    position: absolute;
    width: 485px;
    height: 317px;
    left: 257px;
    padding-top: 130px;
}

input {
    padding: 18px 15px;
    border-radius: 13px;
    width: 83%;
    background: #181515;
    border: 1px solid white;
    font-size: 16px;
}

.image3 {
    gap: 25px;
    margin-top: 25px;
    display: flex;
}

i {
    color: rgb(26, 214, 26);

}

/* about section */

.about {
    display: flex;
    position: absolute;
    background-color: aliceble;
    margin: 1390px 273px;
    border-radius: 35px
}

.about-section {
    height: 224px;
    width: 980px;
    text-align: center;
}

.about-title {
    font-size: 44px;
    font-weight: 900;
}

.about-peragraph {
    font-size: 23px;
    font-weight: 500;
    margin: 24px 81px;
}